<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Edit Wiki</h1>

      <% include ../static/partials/messages.ejs %>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="body">Information about your subject</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter Information about your subject"><%= wiki.body %></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="public" value="false" checked>
          <label class="form-check-label" for="public">Public (default)</label>
        </div>
        <% if(currentUser.role !== "admin" || currentUser.role !== "premium"){ %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="public" value="false" disabled>
            <label class="form-check-label" for="public">Private</label>
          </div>
        <% }else{ %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="public" value="false">
            <label class="form-check-label" for="public">Private</label>
          </div>
        <% } %>

        <button type="submit" class="btn btn-primary">Update</button>

      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
