<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= wiki.title %></h1>

      <% include ../static/partials/messages.ejs %>

      <div class="container"><%- content %></div>

      <% if(currentUser) { %>
        <!-- new wiki button -->
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>

        <!-- edit wiki button -->
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit Wiki</a>

        <!-- delete wiki button -->
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete Wiki</button>
        </form>
      <% } %>

      <% include ../collaborators/collaborating.ejs %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
