<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h2>Welcome to Blocipedia</h2>

      <% include ../static/partials/messages.ejs %>

         <div class="row">
           <div class="col-md-8">
             <form method="POST" action="/users/sign_up">
               <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" name="name" placeholder="Enter Name" class="form-control"/>
               </div>
               <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
               </div>
               <div class="form-group">
                 <label for="password">Password</label>
                 <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
               </div>
               <div class="form-group">
                 <label for="password_conf">Confirm Password</label>
                 <input type="password" name="password_conf" placeholder="Confirm Password" class="form-control"/>
               </div><br/>
               <input type="submit" value="Sign Up" class="btn btn-primary"/>
             </form>
           </div>
         </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
